<div class="story-header">
<span><%= link "Back", to: poll_path(@conn, :index, @project) %></span>
<h2>Edit Story</h2>

<%= render "form.html", Map.put(assigns, :action, poll_path(@conn, :update, @project, @poll)) %>

</div>